---
---

@import "{{ site.theme }}";

body {
  font-family: "Open Sans";
  font-size: 16px;
}

h1 {
    font-family: Montserrat;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
}
.markdown-body hr {
  height: 0;
}
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
   font-family: "Open Sans";
  font-size: 16px;
}
