<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet"
    href="//images10.newegg.com/WebResource/Themes/2005/CSS/USA/font-awesome.v1.w.10825.0.css">
<link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic|Open+Sans+Condensed:300,300italic,700">
<link rel="stylesheet"
    href="//fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap">
<link type="text/css" rel="stylesheet" href="//promotions.newegg.com/template/us/css/2015/template.css">

<script type="text/javascript" src="//promotions.newegg.com/template/us/js/jquery-3.6.0.min.js"></script>
<!-- jQuery for Pricing | DO NOT REMOVE -->
</head>
<body>
    <script type="text/javascript" src="//promotions.newegg.com/template/us/js/2021/header-light.js"></script>
    <!-- HEADER -->

    <section class="section-inner" role="main">
        <!-- HERO SECTION -->
{{ content }}
</section>

<script type="text/javascript" src="//promotions.newegg.com/template/us/js/2021/footer-light.js"></script>
<!-- FOOTER -->

<script type="text/javascript"
    src="//promotions.newegg.com//software/24-1214/images/scripts/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="//imk.neweggimages.com/webresource/scripts/plugin/inhousebiztra.js"></script>
<script type="text/javascript" src="//promotions.newegg.com/template/us/js/error_message.js"></script>
<!-- Message Popup Window Script -->
<!-- expired date popup -->




</body>


</html>
</body>
</html>